**/slprj/**/*
**/*.slxc
slprj/**/*
duy/slprj/*
Long/MATLAB from Minh/slprj/*
Long/test14/slprj/*
Long/final report - Long/~$ Án - Final33.docx
Long/MATLAB from Minh/slprj/_sfprj/EMLReport/emlReportAccessInfo.mat
Long/MATLAB from Minh/slprj/_sfprj/EMLReport/emlReportAccessInfo.mat
*.l
duy/slprj/sim/varcache/FinalTest_16_05_Long/varInfo.mat
duy/slprj/sim/varcache/FinalTest_16_05_Long/tmwinternal/simulink_cache.xml
duy/slprj/sim/varcache/FinalTest_16_05_Long/checksumOfCache.mat
duy/slprj/_sfprj/precompile/autoInferAccessInfo.mat
duy/slprj/_sfprj/FinalTest_16_05_Long/amsi_serial.mat
duy/slprj/_sfprj/FinalTest_16_05_Long/_self/sfun/info/binfo.mat
duy/slprj/_sfprj/EMLReport/sWma5gnKNLHR4kHujgZrhwD.mat
duy/slprj/_sfprj/EMLReport/sRrrvyBN1APcCGYp9ARubGG.mat
duy/slprj/_sfprj/EMLReport/emlReportAccessInfo.mat
duy/slprj/_jitprj/jitEngineAccessInfo.mat
*.autosave
